<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
import Echo from "laravel-echo";
// eslint-disable-next-line no-unused-vars
import Pusher from "pusher-js";
import axios from "axios";

axios
  .post("http://174.138.47.81/api/login", {
    email: "client@client.com",
    password: "12345678",
  })
  .then(({ data }) => {
    let token = data;
    console.log(token.access_token)
    //
    axios({
      method: "GET",
      url: "http://174.138.47.81/api/user",
      headers: {
        Authorization: `Bearer ${token.access_token}`,
      },
    }).then(({ data }) => {
      console.log(data); 

      let echo = new Echo({
        broadcaster: "pusher",
        key: "123456",
        wsHost: "174.138.47.81",
        wsPort: 80,
        forceTLS: false,
        cluster: "mt1",
        disableStats: true,
        // eslint-disable-next-line no-unused-vars
        authorizer: (channel, options) => {
          return {
            authorize: (socketId, callback) => {
              axios({
                method: "POST",
                url: "http://174.138.47.81/api/broadcasting/auth",
                headers: {
                  Authorization: `Bearer ${token.access_token}`,
                },
                data: {
                  socket_id: socketId,
                  channel_name: channel.name,
                },
              })
                .then((response) => {
                  callback(false, response.data);
                })
                .catch((error) => {
                  callback(true, error);
                });
            },
          };
        },
      });

      echo
        .private(`send-notification.${data.id}`)
          .listen("SendNotification", (message) => {
            console.log(message);
          });
      });

      // echo
      //   .private(`chat.${data.id}`)
      //     .listen("SendMessage", (message) => {
      //       console.log(message);
      //     });
      // });


      
  });

export default {};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
